<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name=".ui.picker.PickerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LibraryTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LibraryTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/LibraryTheme"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:theme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>